.parentFlex {
  display: flex;
  justify-content: center;
}
.dropdown-item {
  color: black;
}
.input-field {
  width: 40%;
}
.list-group {
  display: flex;
  justify-content: space-between;
}
.code {
  font-weight: 600;
  color: darkslateblue;
}
.selling-rate {
  font-weight: 600;
  color: cornflowerblue;
}
.buying-rate {
  font-weight: 600;
  color: darkkhaki;
}
.median-rate {
  font-weight: 600;
  color: darksalmon;
}
.inline-block {
  display: inline-block;
}
.list-group-item {
  text-align: center;
}
